@import url('https://fonts.cdnfonts.com/css/instagram-sans-2');
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Instagram Sans', sans-serif;
}
.container{
    display: flex;
    overflow: hidden;
}
.sidebar{
    width: 20vw;
    border-right: 0.5px solid black;
    height: 100vh;
    overflow: none;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
}
.sidbar_top{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}
.main{
    height: 100vh;
    overflow-x: none;
    overflow-y: scroll;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}
#brand_logo{
    width: 10vw;
    padding: 5px;
    margin: 10px 5px 30px 5px;
    max-width: 500px;
    box-sizing: border-box;
}
.sidebar_items {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 5px;
    font-size: 15px;
}
.sidebar_items > p {
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;


}
.fa-solid {
    font-size: 25px;
    padding: 5px;
}
.profile_image{
    padding: 0;
    margin: 0px;
    border-radius: 50px;
    width: 30px;
    height: 30px;
}
.card{
    border: none;
    border-radius: 10px;
    /* box-shadow: 1px 1px 10px 1px #888888; */
    height: auto;
    width: 480px;
    margin-bottom: 30px;
    position: relative;
}
.main_img {
    width: 100%;
    height: auto;
    max-width: 450px;
}
.stories {
    overflow-x: scroll;
    overflow-y: none;
    white-space: nowrap;
    width: 100%;
    box-sizing: border-box;
}
.stories::-webkit-scrollbar {
    display: none;
}
.story{
    display: inline-block;
    text-align: center;
    padding-right: 10px;
}
.story > p {
    font-size: 12px;
}
.story > img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.next_arrow {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 8px;
    background: white;
    color: black;
    border-radius: 50%;
    opacity: 0.8;
    font-weight: bolder;
    cursor: pointer;
}
.handle_name {
    display: flex;
    align-items: center;
}
.icon_area {
    display: flex;
    justify-content: space-between;
}
.caption_area {
    padding: 10px;
}
.comment_area {
    padding: 10px;
}
.comment{
    display: flex;
    justify-content: space-between;
}
.comment > i {
    font-size: 14px;
}
.add_comment{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #888888;
    padding: 10px;
    margin-top: 5px;
}
.topbar, .bottom_bar {
    display: none;
}
@media  screen and  (max-width :800px) {

    .sidebar {
        display: none;

    }
    .main{
        width: 100vw;
        box-sizing: border-box;
        margin-top: 5px;
        
    }
    .card {
        width: 90wv;
    }
    .topbar, .bottom_bar {
        display : flex ;
        justify-content: space-between;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
        background-color: white;
        align-items: center;
    }
    .topbar > i {
        padding: 10px;
    }
    #brand_logo {
        width: 20vh;
        margin: 0;
        padding: 0;
    }
    .main {
        margin-top: 50px;
    }
    .bottom_bar {
        padding: 10px;
        bottom: 0;
        box-sizing: border-box;

    }
}